{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block body %}
<div class="container">

<script type="text/javascript" src="{{ asset('/bundles/netrunnerdbcards/js/save-settings.js') }}"></script>

<div class="row">

<div class="col-md-4">
    <h2>Browse by set</h2>
	{{ allsets|raw }}

</div>

<div class="col-md-8">

<h1>{{ block('title') }}</h1>
<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form" style="margin-bottom:2em">

<fieldset>
<legend>Title and texts</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
			<label for="q">Title</label>
			<div>
				<input class="form-control" size="30" id="q" name="q" value="">
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-6">
		<div class="form-group">
			<label for="x">Text</label>
			<div>
				<input class="form-control" size="40" id="x" name="x" value="">
			</div>
		</div>
    </div>
    <div class="col-sm-6">
		<div class="form-group">
			<label for="a">Flavor Text</label>
			<div>
				<input class="form-control" size="30" id="a" name="a" value="">
			</div>
		</div>
	</div>
</div>
</fieldset>
<fieldset>
<legend>Faction and side</legend>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
			<label>Side</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default active"><input type="radio" name="d" checked value="">Either</label>
				<label class="btn btn-default"><input type="radio" name="d" value="c">Corp</label>
				<label class="btn btn-default"><input type="radio" name="d" value="r">Runner</label>
			</div>
		</div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
			<label>Faction</label>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="a"><span class="icon icon-anarch anarch"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="c"><span class="icon icon-criminal criminal"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="s"><span class="icon icon-shaper shaper"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="h"><span class="icon icon-haas-bioroid haas-bioroid"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="j"><span class="icon icon-jinteki jinteki"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="n"><span class="icon icon-nbn nbn"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="w"><span class="icon icon-weyland-consortium weyland-consortium"></span></label>
				<label class="btn btn-default active"><input type="checkbox" name="f[]" checked value="-">Neutral</label>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Attributes</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="e">Set</label>
			<div>
				<select class="form-control" name="e" id="e"><option value="">any</option>{% for pack in packs %}<option value="{{ pack.code }}">{{ pack.name }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="t">Type</label>
			<div>
				<select class="form-control" name="t" id="t"><option value="">any</option>{% for type in types %}<option value="{{ type }}">{{ type }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="u">Unique</label>
			<div>
				<select class="form-control" name="u" id="u">
					<option value="">any</option>
					<option value="0">No</option>
					<option value="1">Yes</option>
				</select>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="s">Subtype</label>
			<div>
				<select class="form-control" name="s" id="s"><option value="">any</option>{% for keyword in keywords %}<option value="{{ keyword }}">{{ keyword }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Numerics</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="o">Cost</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="oo" id="oo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="o" name="o" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="n">Influence</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="no" id="no" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="n" name="n" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label for="p">Strength</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="po" id="po" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="p" name="p" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="y">Quantity</label>
			<div class="row">
                <div class="col-xs-4">
                    <select name="yo" id="yo" class="form-control"><option value=":">=</option><option value="<">&lt;</option><option value=">">&gt;</option></select>
                </div>
                <div class="col-xs-8">
                    <input id="y" name="y" value="" class="form-control">
                </div>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Other</legend>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
			<label>Previews</label>
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default active"><input type="radio" name="r" checked value="">Yes</label>
				<label class="btn btn-default"><input type="radio" name="r" value="<now">No</label>
				<label class="btn btn-default"><input type="radio" name="r" value=">now">Only</label>
			</div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
			<label for="i">Illustrator</label>
			<div>
				<select class="form-control" name="i" id="i"><option value="">any</option>{% for illustrator in illustrators %}<option value="{{ illustrator }}">{{ illustrator }}</option>{% endfor %}</select>
			</div>
		</div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Submit</legend>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
	       {% include 'NetrunnerdbCardsBundle:Search:searchoptions.html.twig' %}
	       <div class="col-sm-4">
		      <button class="btn btn-primary" type="submit">Search</button>
	       </div>
        </div>
     </div>
</div>
</fieldset>
</form>

{% include 'NetrunnerdbBuilderBundle:Default:google_adaptable_ad.html.twig' %}

</div>

</div>

</div>
{% endblock %}
